h2{

font-family: Copperplate,Papyrus,Fantasy;
background-color:ivory;
}
p{
	font-family: Arial,Helvetica,Sans-serif;
	color: darkblue;
}
br{
	font-family: Arial,Helvetica,Sans-serif;
	color: darkblue;
}